.map {
    width: 100%;
    height: 80%;

    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    overflow: hidden;
    z-index: 50;
    position: relative;
}

.top-bar {
    width: 95%;
    display: flex;
    margin: auto;
    height: 100px;
    justify-content: space-between;
    align-items: center;

    font-family: 'Roboto', sans-serif;
}

.top-bar > :first-child {
    font-size: 14pt;
}

.map-options-container {
    width: 95%;
    margin: 20px auto;
    height: 80%;
    display: flex;
}

.map-options-container > div {
    height: 100%;
    transition: width 300ms ease-in-out;
}

.map-options-container > :first-child {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
}

.pickup-location-options {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.pickup-location-options > div {
    height: 80%;
    width: 90%;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pickup-location-options > div > div {
    margin-bottom: 20px;
}
