.navbar {
  z-index: 10;
  height: var(--navbar-height);
  width: 100%;
  background-color: #ffffff;

  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.store {
  display: flex;
  margin-left: 15px;
}

.store-image {
  width: 40px;
  height: 40px;
  background-color: grey;
  margin: 10px;
}

.store-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-bar {
}

.profile {
  display: flex;
  margin-right: 20px;
  color: red;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: grey;
}

.profile-image:hover {
  cursor: pointer;
  background-color: blue;
}

.profile-image:active {
  cursor: pointer;
  background-color: green;
}

.profile-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  color: black;
}
